
CLIENT_GATEWAY_PORT=3000


PAYMENTS_MS_PORT=3003

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3000/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/payments/cancel

# https://dashboard.stripe.com/test/webhooks/we_1RHWV4FwgqxrMOJeZmnVgzBg
# Este es el signing secret del webhook
STRIPE_ENDPOINT_SECRET=whsec_FZ6yC1QQY00JcuMy0bwi2IgMnLGhZaqB

AUTH_DATABASE_URL=mongodb+srv://root-user:SRMRnJHkU3tNVXCx@auth-microservice-db.bidhdwc.mongodb.net/AuthDB

JWT_SECRET=/C1VUh7B5ZKiti3JGpii7hl6Un254YmwF8AIqAaNFX4=

ORDERS_DATABASE_URL=